<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <clear />
    <add name="MyConn"
     connectionString="Data Source=86.122.129.15,41579;Initial Catalog=foodtogo;Persist Security Info=True;User ID=foodtogouser;Password=food22Us3r" />
  </connectionStrings>
  

</configuration>